// SPDX-License-Identifier: GPL-2.0

#include <dt-bindings/clock/r8a779g0-cpg-mssr.h>

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

/* overlay dsi to max96789 and 7" panel - disable lt9611 */

&rcar_sound {
	status = "disabled";
};

&i2c0_switch_ch1 {
	U26: lt9611@3b {
		status = "disabled";
	};
};

&i2c0_switch_ch2 {
	U181: max96789@40 {
		status = "okay";
	};

	max96752F_2@28 {
		status = "okay";
	};

	max96752F_3@2A {
		status = "okay";
	};
};

&dsi1 {
	ports {
		port@1 {
			endpoint {
				remote-endpoint = <&u181_max96789_in>;
			};
		};
	};
};
