// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the R-Car V4H-7 Sparrow Hawk board
 *
 * Copyright (C) 2024 Renesas Electronics Corp.
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/media/r8a779g0-csi2.h>
#include "r8a779g3.dtsi"
#include <dt-bindings/media/video-interfaces.h>

/ {
	model = "Retronix Sparrow Hawk board based on r8a779g3";
	compatible = "retronix,sparrow-hawk", "renesas,r8a779g3",
		     "renesas,r8a779g0";

	aliases {
		ethernet0 = &avb0;
		serial0 = &hscif0;
	};

	chosen {
		stdout-path = "serial0:921600n8";
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		vdsp0_region: linux,vdsp0_region@5d000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x5d000000 0x0 0x00800000>;
		};

		vdsp1_region: linux,vdsp1_region@5d800000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x5d800000 0x0 0x00800000>;
		};

		vdsp2_region: linux,vdsp2_region@5e000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x5e000000 0x0 0x00800000>;
		};

		vdsp3_region: linux,vdsp3_region@5e800000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x5e800000 0x0 0x00800000>;
		};

		pap_region: linux,pap_region@5f000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x5f000000 0x0 0x00400000>;
		};

		/* region for cr core application */
		cr_region: linux,cr_region@60000000 {
			no-map;
			reg = <0x00000000 0x60000000 0x0 0x20000000>;
		};

		/* global autoconfigured region for contiguous allocations */
		linux,cma@80000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x80000000 0x0 0x23000000>;
			linux,cma-default;
		};

		region_40bit_ecc_off_0: ecc_off_region@4b00000000 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0x4 0xb0000000 0x0 0x10000000>;
		};

		region_40bit_ecc_off_1: ecc_off_region@4c00000000 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0x4 0xc0000000 0x0 0x10000000>;
		};

		region_40bit: linux,region_40bit@600000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x6 0x00000000 0x0 0x40000000>;
		};

		ecc_data_region@4d0000000 {
			no-map;
			reg = <0x4 0xd0000000 0x0 0x30000000>;
		};

		ecc_data_region@6b0000000 {
			no-map;
			reg = <0x6 0xb0000000 0x0 0x50000000>;
		};
	};

	/* Page 15 / LPDDR5 */
	memory@48000000 {
		device_type = "memory";
		/* first 128MB is reserved for secure area. */
		reg = <0x0 0x48000000 0x0 0x78000000>;
	};

	memory@480000000 {
		device_type = "memory";
		reg = <0x4 0x80000000 0x0 0x80000000>;
	};

	memory@600000000 {
		device_type = "memory";
		reg = <0x6 0x00000000 0x1 0x00000000>;
	};

	soc: soc {
		du0 {
			status = "disabled";
		};

		du_01 {
			status = "disabled";
		};

		dsi0 {
			status = "disabled";
		};

		dsc@feb8d000 {
			status = "disabled";
		};

		dsi1 {
			status = "disabled";
		};
	};

	/* Page 27 / DSI to Display */
	dsi-con {
		compatible = "dsi-connector";

		port {
			dsi_con_in: endpoint {
				remote-endpoint = <&sn65dsi86_out>;
			};
		};
	};

	cmem {
		memory-region = <&vdsp0_region>, <&vdsp1_region>,
				<&vdsp2_region>, <&vdsp3_region>,
				<&pap_region>, <&region_40bit>,
				<&region_40bit_ecc_off_0>, <&region_40bit_ecc_off_1>;
	};

	clk_cam: clk-cam {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
	};

	/* Page 29 / CSI_IF_CN / J1 */
	reg_cam: reg-cam {
		compatible = "regulator-fixed";
		regulator-name = "cam";
		enable-active-high;
		gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
	};

	reg_1p8v: regulator-1p8v {
		compatible = "regulator-fixed";
		regulator-name = "fixed-1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_3p3v: regulator-3p3v {
		compatible = "regulator-fixed";
		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	/* Page 30 / Audio_Codec */
	sound_card: sound {
		compatible = "audio-graph-card";
		label = "msiof-sound";
		dais = <&msiof1_snd>;
	};

	/* Page 17 uSD-Slot */
	vcc_sdhi: regulator-vcc-sdhi {
		compatible = "regulator-gpio";
		regulator-name = "SDHI VccQ";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&gpio8 13 GPIO_ACTIVE_HIGH>;
		gpio-states = <1>;
		states = <1800000 0>, <3300000 1>;
	};

	/* Page 31 / FAN */
	fan: pwm-fan {
		compatible = "pwm-fan";
		cooling-levels = <0 50 100 150 200 255>;

		/* Four pulses of tacho signal per one revolution */
		pulses-per-revolutions = <4>;

		/* PWM period: 100us ~= 10kHz */
		pwms = <&pwm0 0 100000>;
	};
};

/* Page 22 / Ether_AVB0 */
&avb0 {
	pinctrl-0 = <&avb0_pins>;
	pinctrl-names = "default";
	phy-handle = <&phy0>;
	tx-internal-delay-ps = <2000>;
	status = "okay";

	phy0: ethernet-phy@0 {
		compatible = "ethernet-phy-id0022.1622",
			     "ethernet-phy-ieee802.3-c22";
		rxc-skew-ps = <1500>;
		reg = <0>;
		interrupt-parent = <&gpio7>;
		interrupts = <5 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&gpio7 10 GPIO_ACTIVE_LOW>;
		reset-assert-us = <10000>;
		reset-deassert-us = <300>;
	};
};

/* Page 28 / CANFD_IF */
&canfd {
	pinctrl-0 = <&canfd3_pins>, <&canfd4_pins>, <&can_clk_pins>;
	pinctrl-names = "default";

	status = "okay";

	channel3 {
		status = "okay";
	};

	channel4 {
		status = "okay";
	};
};

/* Page 27 / DSI to Display */
&dsi1 {
	status = "okay";

	ports {
		port@1 {
			dsi1_out: endpoint {
				remote-endpoint = <&sn65dsi86_in>;
				data-lanes = <1 2 3 4>;		
			};
		};
	};
};

&dsc {
	status = "okay";
};

/* Page 27 / DSI to Display */
&du {
	status = "okay";
};

/* Page 5 / R-Car V4H_INT_I2C */
&extal_clk {
	clock-frequency = <16666666>;
};

/* Page 5 / R-Car V4H_INT_I2C */
&extalr_clk {
	clock-frequency = <32768>;
};

/* Page 26 / 2230 Key M M.2 */
&gpio4 {
	/* 9FGV0441 nOE inputs 0 and 1 */
	pcie-m2-oe-hog {
		gpio-hog;
		gpios = <21 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "PCIe-CLK-nOE-M2";
	};

	/* 9FGV0441 nOE inputs 2 and 3 */
	pcie-usb-oe-hog {
		gpio-hog;
		gpios = <22 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "PCIe-CLK-nOE-USB";
	};
};

/* Page 23 / DEBUG */
&hscif0 {
	pinctrl-0 = <&hscif0_pins>;
	pinctrl-names = "default";
	uart-has-rtscts;
	
	status = "okay";
};

&hscif1 {
	pinctrl-0 = <&hscif1_pins>;
	pinctrl-names = "default";
	uart-has-rtscts;

	status = "okay";
};

/* Page 31 / IO_CN */
&hscif3 {	/* CN7 pins 8 (TX) and 10 (RX) */
	pinctrl-0 = <&hscif3_pins>;
	pinctrl-name = "default";

	status = "okay";
};

/* Page 24 / I2C SWITCH */
&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";
	clock-frequency = <400000>;
	status = "okay";

	mux@71 {
		compatible = "nxp,pca9544";   /* TCA9544 */
		reg = <0x71>;
		#address-cells = <1>;
		#size-cells = <0>;
		vdd-supply = <&reg_3p3v>;

		i2c0_mux_ch0: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		i2c0_mux_ch1: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};

		i2c0_mux_ch2: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};

		i2c0_mux_ch3: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};
	};
};

&ref_clk {
	clock-frequency = <38400000>;
};

&i2c0_mux_ch0 {
	/* Page 27 / DSI to Display */
	edp-bridge@2c {
		compatible = "ti,sn65dsi86";
		reg = <0x2c>;

		clocks = <&ref_clk>;
		clock-names = "refclk";
		dp-connector;
		no-use-gpio;
		no-use-scramble;
		hpd-poll;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				sn65dsi86_in: endpoint {
					remote-endpoint = <&dsi1_out>;
				};
			};

			port@1 {
				reg = <1>;
				sn65dsi86_out: endpoint {
					remote-endpoint = <&dsi_con_in>;
				};
			};
		};
	};
};

&i2c0_mux_ch1 {
	/* Page 30 / Audio_Codec */
	codec@1a {
		compatible = "dlg,da7212";

		#sound-dai-cells = <0>;
		reg = <0x1a>;

		clocks = <&rcar_sound>;
		clock-names = "mclk";

		VDDA-supply = <&reg_1p8v>;
		VDDMIC-supply = <&reg_3p3v>;
		VDDIO-supply = <&reg_3p3v>;

		port {
			da7212_endpoint: endpoint {
				bitclock-master;
				frame-master;
				remote-endpoint = <&msiof1_snd_endpoint>;
			};
		};
	};
};

/* Page 29 / CSI_IF_CN / CAM_CN0 */
&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";
	clock-frequency = <400000>;
	status = "okay";

	cam_j1@10 {
		compatible = "sony,imx219";
		reg = <0x10>;
		clocks = <&clk_cam>;

		VANA-supply = <&reg_cam>;
		VDIG-supply = <&reg_cam>;
		VDDL-supply = <&reg_cam>;

		orientation = <2>;
		rotation = <0>;

		port@0 {
			imx219_j1_out: endpoint {
				clock-noncontinuous;
				link-frequencies = /bits/ 64 <456000000>;
				data-lanes = <1 2>;
				remote-endpoint = <&csi40_in>;
			};
		};
	};
};

/* Page 29 / CSI_IF_CN / CAM_CN1 */
&i2c2 {
	pinctrl-0 = <&i2c2_pins>;
	pinctrl-names = "default";
	clock-frequency = <400000>;
	status = "okay";

	cam_j2@10 {
		compatible = "sony,imx219";
		reg = <0x10>;
		clocks = <&clk_cam>;

		VANA-supply = <&reg_cam>;
		VDIG-supply = <&reg_cam>;
		VDDL-supply = <&reg_cam>;

		orientation = <2>;
		rotation = <0>;

		port@0 {
			imx219_j2_out: endpoint {
				clock-noncontinuous;
				link-frequencies = /bits/ 64 <456000000>;
				data-lanes = <1 2>;
				remote-endpoint = <&csi41_in>;
			};
		};
	};
};

/* Page 31 / IO_CN */
&i2c3 {
	pinctrl-0 = <&i2c3_pins>;
	pinctrl-names = "default";
	status = "okay";
};

/* Page 31 / IO_CN */
&i2c4 {
	pinctrl-0 = <&i2c4_pins>;
	pinctrl-names = "default";
	status = "okay";
};

/* Page 18 / POWER_CORE and Page 19 / POWER_PMIC */
&i2c5 {
	pinctrl-0 = <&i2c5_pins>;
	pinctrl-names = "default";
	status = "okay";
};

/* Page 17 uSD-Slot */
&mmc0 {
	pinctrl-0 = <&sd_pins>;
	pinctrl-1 = <&sd_uhs_pins>;
	pinctrl-names = "default", "state_uhs";
	bus-width = <4>;
	cd-gpios = <&gpio3 11 GPIO_ACTIVE_LOW>;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&vcc_sdhi>;
	status = "okay";
};

&vin00 {
	status = "okay";
};

&vin10 {
	status = "okay";
};

/* Page 29 / CSI_IF_CN */
&csi40 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			csi40_in: endpoint {
				bus-type = <MEDIA_BUS_TYPE_CSI2_DPHY>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
				remote-endpoint = <&imx219_j1_out>;
			};
		};
	};
};

/* Page 29 / CSI_IF_CN */
&csi41 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			csi41_in: endpoint {
				bus-type = <MEDIA_BUS_TYPE_CSI2_DPHY>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
				remote-endpoint = <&imx219_j2_out>;
			};
		};
	};
};

&msiof1 {
	pinctrl-0 = <&msiof1_pins>;
	pinctrl-names = "default";

	status = "okay";

	msiof1_snd: port {
		reg = <0>;
    		msiof1_snd_endpoint: endpoint {
			dai-format = "i2s";
			remote-endpoint = <&da7212_endpoint>;		     
		};		
	};
};

/* Page 25 / PCIe to USB */
&pciec0 {
	reset-gpios = <&gpio2 2 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&pciec1 {
	num-lanes = <1>;
	reset-gpios = <&gpio2 0 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&pfc {
	pinctrl-0 = <&scif_clk_pins>;
	pinctrl-names = "default";

	/* Page 22 / Ether_AVB0 */
	avb0_pins: avb0 {
		mux {
			groups = "avb0_link", "avb0_mdio", "avb0_rgmii",
			         "avb0_txcrefclk";
			function = "avb0";
		};

		pins-mdio {
			groups = "avb0_mdio";
			drive-strength = <21>;
		};

		pins-mii {
			groups = "avb0_rgmii";
			drive-strength = <21>;
		};

		pins-vddq18-25-avb {
			pins = "GP_4_0", "GP_5_0", "GP_6_0", "GP_7_0";
			power-source = <1800>;
		};
	};

	/* Page 28 / CANFD_IF */
	can_clk_pins: can-clk {
		groups = "can_clk";
		function = "can_clk";
	};

	/* Page 28 / CANFD_IF */
	canfd3_pins: canfd3 {
		groups = "canfd3_data";
		function = "canfd3";
	};

	/* Page 28 / CANFD_IF */
	canfd4_pins: canfd4 {
		groups = "canfd4_data";
		function = "canfd4";
	};

	/* Page 23 / DEBUG */
	hscif0_pins: hscif0 {
		groups = "hscif0_data", "hscif0_ctrl";
		function = "hscif0";
	};

	/* Page 23 / DEBUG */
	hscif1_pins: hscif1 {
		groups = "hscif1_data", "hscif1_ctrl";
		function = "hscif1";
	};

	/* Page 24 / UART */
	hscif3_pins: hscif3 {
		groups = "hscif3_data";
		function = "hscif3";
	};

	/* Page 24 / I2C SWITCH */
	i2c0_pins: i2c0 {
		groups = "i2c0";
		function = "i2c0";
	};

	/* Page 29 / CSI_IF_CN / CAM_CN0 */
	i2c1_pins: i2c1 {
		groups = "i2c1";
		function = "i2c1";
	};

	/* Page 29 / CSI_IF_CN / CAM_CN0 */
	i2c2_pins: i2c2 {
		groups = "i2c2";
		function = "i2c2";
	};

	/* Page 31 / IO_CN */
	i2c3_pins: i2c3 {
		groups = "i2c3";
		function = "i2c3";
	};

	/* Page 31 / IO_CN */
	i2c4_pins: i2c4 {
		groups = "i2c4";
		function = "i2c4";
	};

	/* Page 18 / POWER_CORE */
	i2c5_pins: i2c5 {
		groups = "i2c5";
		function = "i2c5";
	};

	/* Page 31 / FAN */
	pwm0_pins: pwm0 {
		groups = "pwm0";
		function = "pwm0";
	};
	
	/* Page 31 / CN7 pin 12 */
	pwm1_pins: pwm1 {
		groups = "pwm1";
		function = "pwm1";
	};

	/* Page 31 / CN7 pin 32 */
	pwm6_pins: pwm6 {
		groups = "pwm6";
		function = "pwm6";
	};

	/* Page 31 / CN7 pin 33 */
	pwm7_pins: pwm7 {
		groups = "pwm7";
		function = "pwm7";
	};

	/* Page 16 / QSPI_FLASH */
	qspi_pins: qspi0 {
		groups = "qspi0_ctrl", "qspi0_data4";
		function = "qspi0";
	};

	/* Page 6 / SCIF_CLK_SOC_V */
	scif_clk_pins: scif-clk {
		groups = "scif_clk";
		function = "scif_clk";
	};

	/* Page 17 uSD-Slot */
	sd_pins: sd {
		groups = "mmc_data4", "mmc_ctrl";
		function = "mmc";
		power-source = <3300>;
	};

	/* Page 17 uSD-Slot */
	sd_uhs_pins: sd-uhs {
		groups = "mmc_data4", "mmc_ctrl";
		function = "mmc";
		power-source = <1800>;
	};

	/* Page 30 / Audio_Codec */
	msiof1_pins: sound {
		groups = "msiof1_clk", "msiof1_sync", "msiof1_txd", "msiof1_rxd";
		function = "msiof1";
	};

	/* Page 30 / Audio_Codec */
	sound_clk_pins: sound-clk {
		groups = "audio_clkin", "audio_clkout";
		function = "audio_clk";
	};	
};

/* Page 31 / FAN */
&pwm0 {
	pinctrl-0 = <&pwm0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

/* Page 31 / CN7 pin 12 */
&pwm1 {
	pinctrl-0 = <&pwm1_pins>;
	pinctrl-names = "default";
	status = "okay";
};

/* Page 31 / CN7 pin 32 */
&pwm6 {
	pinctrl-0 = <&pwm6_pins>;
	pinctrl-names = "default";
	status = "okay";
};

/* Page 31 / CN7 pin 33 */
&pwm7 {
	pinctrl-0 = <&pwm7_pins>;
	pinctrl-names = "default";
	status = "okay";
};

/* Page 30 / Audio_Codec */
&rcar_sound {
	pinctrl-0 = <&sound_clk_pins>;
	pinctrl-names = "default";

	/* It is used for ADG output as DA7212_MCLK */

	/* audio_clkout */
	#clock-cells = <0>;
	clock-frequency = <12288000>; /* 48kHz groups */

	status = "okay";
};

/* Page 16 / QSPI_FLASH */
&rpc {
	pinctrl-0 = <&qspi_pins>;
	pinctrl-names = "default";

	status = "okay";

	flash@0 {
		compatible = "jedec, spi-nor";
		reg = <0>;
		spi-max-frequency = <40000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <4>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			boot@0 {
				reg = <0x0 0x1800000>;
				read-only;
			};

			user@1800000 {
				reg = <0x1800000 0x2780000>;
			};

			env1@3f80000 {
				reg = <0x3f80000 0x40000>;
			};

			env2@3fc0000 {
				reg = <0x3fc0000 0x40000>;
			};
		};
	};
};

&rwdt {
	timeout-sec = <60>;
	status = "okay";
};

/* Page 6 / SCIF_CLK_SOC_V */
&scif_clk {
	clock-frequency = <24000000>;
};

